<div class="navbar-wagon">

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Links when logged in -->
    <%= link_to "Web", web_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Photographie", photographie_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Projets", projets_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Learn.gif", height: 40 %>
  <% end %>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Web</a></li>
        <li><a href="#">Photographie</a></li>
        <li><a href="#">Projets</a></li>
      </ul>
    </div>
  </div>
</div>

